.panel-default {
    border-color: transparent;
}

.panel-default>.panel-heading {
    color: black;
    background-color: #fafafa;
    border-color: transparent;
}

.panel {
    background-color: #fafafa;
    box-shadow: none;
}
