* {
    font-family: roboto, sans-serif;
}

body {
    background-color: #f7f7f7;
}

p {
    padding: 0!important;
    margin: 0!important;
}

a, a:hover {
    color: black;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar-collapse {
        margin-top: 8px;
    }
}


/* header */

.header {
    margin-bottom: 1px solid grey;
}

.navli-custom,
.navbar-default .navbar-nav>li>a {
    letter-spacing: 1px;
    color: #fff;
    font-size: 13px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fafafa;
    text-decoration: underline;
}

.custom-contact {
    border: 2px solid #116663;
    border-radius: 13px;
}

.navbar-default {
    background-color: #116663;
    border: none;
    margin-bottom: 0;
    padding: 10px 0;
}

.navbar-default .navbar-toggle {
    border: #fff;
    background-color: #116663;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #116663;
    color: #fafafa;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.custom_nav-divider {
    border: 1px solid black;
}


/* main */

.custom_section {
    margin-bottom: 25px;
}

.jumbotron-custom {
    height: 381px;
    background: url(../img/banner-home3.jpg);
    border-radius: 2px!important;
    position: relative;
}

.jumbotron-custom-description {
    position: absolute;
    left: 0;
    bottom: 5%;
    width: 30%;
    background-color: rgba(17, 102, 99, 0.48);
    color: #fff;
    padding: 15px;
    overflow: hidden;
    border-radius: 2px;
    max-height: 95%;
}

.jumbotron-custom p {
    font-size: 1.6rem;
}

.custom-photo {
    margin: 15px 0;
    border: 3px solid #116663;
}

.home-quicklinks {
    margin: 35px 0;
}

.main-content {
    margin-top: 35px;
}

.teacher-subdescription {
    font-size: 11px;
}

@media (max-width: 768px) {
    .teacher-subdescription {
        font-size: 13px;
    }
}


/* footer */

.container-fluid-custom {
    margin-top:20px;
    background-color:#116663;
    color:#fff;
}

.footer {
    background-color: transparent;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer .container {
    border-top: 1px solid #333;
    padding: 15px 0;
}

.navbar-custom-footer {
    color: black;
    font-size: 12px;
}

.navbar-custom-footer a {
    color: black;
    font-size: 12px;
}

.navbar-custom-footer>li>a:focus,
.navbar-custom-footer>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.navbar-nav-footer li {
    display: inline-block;
}

.border-right {
    border-right: 1px solid grey;
}
