<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Paedagon | Schulverwaltung</title>
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="header"></div>
    <!--main-contnt -->
    <section class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-left">
                    <div class="col-sm-12">
                        <h3 class="text-uppercase">Die Schulverwaltung</h3>
                        <div class="col-sm-6"> <img class="img-circle custom-photo" src="/img/teacher/tgrotz.jpg" />
                            <p class="text-justify"><strong>Dr. phil. (Univ.) Tanja Grotz</strong> wird als Schulleitung an der Spitze der Fachakademie für Sozialpädagogik und der Berufsfachschule für Kinderpflege stehen. Sie ist promovierte Sozial- und Erziehungswissenschaftlerin und mit dem Bereich der Erziehung und Bildung von Kindern, Jugendlichen und jungen Erwachsenen seit mehr als 27 Jahren eng verbunden.</p>
                        </div>
                        <div class="col-sm-6"> <img class="img-circle custom-photo" src="/img/teacher/unknown.jpg" />
                            <p class="text-justify"><strong>Hans Korherr</strong> ist Verwaltungsfachangestellter und seit mehr als 24 Jahren bei der Volkshochschule im Landkreis Cham tätig. Im Rahmen der Verwaltungsmitarbeit ist er Ansprechpartner für Studierende, Schüler, Interessenten und Eltern.</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="custom_nav-divider"> </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-left">
                    <div class="col-sm-12">
                        <h3 class="text-uppercase">Die Lehrer</h3>
                        <div class="col-sm-6">
                            <div class="col-sm-4"> <img class="img-circle img-responsive custom-photo" src="/img/teacher/tgrotz.jpg" /> </div>
                            <div class="col-sm-8">
                                <h5>Dr. phil. (Univ.) Tanja Grotz</h5>
                                <p>Dipl. Sozialpädagogin (FH), Erzieherin (FakSozPäd)</p>
                            </div>
                        </div>
                        <!-- teacher section -->
                        <div class="col-sm-6">
                            <div class="col-sm-4"> <img class="img-circle img-responsive custom-photo" src="/img/teacher/gthurbar.jpg" /> </div>
                            <div class="col-sm-8">
                                <h5>Dr. phil. (Univ.) Georg Turba</h5>
                                <p>Realschule Lehramt</p>
                            </div>
                        </div>
                        <!-- teacher section -->
                        <div class="col-sm-6">
                            <div class="col-sm-4"> <img class="img-circle img-responsive custom-photo" src="/img/teacher/unknown.jpg" /> </div>
                            <div class="col-sm-8">
                                <h5>Dr. rer. nat. (Univ.) Tobias Hanauer</h5>
                                <p>Gymnasium Lehramt, Studienrat</p>
                            </div>
                        </div>
                        <!-- teacher section -->
                        <div class="col-sm-6">
                            <div class="col-sm-4"> <img class="img-circle img-responsive custom-photo" src="/img/teacher/penglert.jpg" /> </div>
                            <div class="col-sm-8">
                                <h5>Paul Englert</h5>
                                <p>Gymnasium Lehramt, derzeit Promotion</p>
                            </div>
                        </div>
                        <!-- teacher section -->
                        <div class="col-sm-6">
                            <div class="col-sm-4"> <img class="img-circle img-responsive custom-photo" src="/img/teacher/ihierl.jpg" /> </div>
                            <div class="col-sm-8">
                                <h5>Dipl. Sozialpädagogin (FH) Isabella Hierl</h5>
                                <p>Systemische Familientherapeutin, Erzieherin (FakSozPäd) </p>
                            </div>
                        </div>
                        <!-- teacher section -->
                        <div class="col-sm-6">
                            <div class="col-sm-4"> <img class="img-circle img-responsive custom-photo" src="/img/teacher/unknown.jpg" /> </div>
                            <div class="col-sm-8">
                                <h5>Dipl. Sozialpädagogin (FH) Carmen Weber</h5>
                                <p></p>
                            </div>
                        </div>
                        <!-- teacher section -->
                        <div class="col-sm-6">
                            <div class="col-sm-4"> <img class="img-circle img-responsive custom-photo" src="/img/teacher/cmühllbauer.jpg" /> </div>
                            <div class="col-sm-8">
                                <h5>Dipl. Theologe (Univ.) Christoph Mühlbauer</h5>
                                <p></p>
                            </div>
                        </div>
                        <!-- teacher section -->
                        <div class="col-sm-6">
                            <div class="col-sm-4"> <img class="img-circle img-responsive custom-photo" src="/img/teacher/abauer.jpg" /> </div>
                            <div class="col-sm-8">
                                <h5>Dipl. Psychologin (Univ.) Alexandra Bauer</h5>
                                <p>Erzieherin (FakSozPäd)</p>
                            </div>
                        </div>
                        <!-- teacher section -->
                        <div class="col-sm-6">
                            <div class="col-sm-4"> <img class="img-circle img-responsive custom-photo" src="/img/teacher/bm1.jpg" /> </div>
                            <div class="col-sm-8">
                                <h5>Bernd Meidenbauer, Pädagoge M.A. (Univ.)</h5>
                                <p>Medienpädagoge</p>
                            </div>
                        </div>
                        <!-- teacher section -->
                        <div class="col-sm-6">
                            <div class="col-sm-4"> <img class="img-circle img-responsive custom-photo" src="/img/teacher/emannhart.jpg" /> </div>
                            <div class="col-sm-8">
                                <h5>Evelin Mannhart, Kindheitspädagogin BA</h5>
                                <p>Erzieherin (FakSozPäd)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer" style="margin-top:0px;"></footer>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="../js/bootstrap.min.js"></script>
            <script>
                $(function () {
                    $("#header").load("/view/header.html");
                    $("#footer").load("/view/footer.html");
                });
            </script>
</body>

</html>
