<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Paedagon | Erzieher FAKS</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/erzieher.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="header"></div>
    <section class="main-content">
        <div class="container">
            <div class="jumbotron jumbotron-custom"></div>
            <div class="row">
                <div class="col-md-3 text-left hidden-xs">
                    <ul class="nav">
                        <li class=""><a href="#first-section">1. Erzieher werden</a></li>
                        <li class=""><a href="#second-section">2. Sozialpädagogisches Seminar (SPS1+2)</a></li>
                        <li class=""><a href="#third-section">3. Fachakademie für Sozialpädagogik (1. + 2. Studienjahr)</a></li>
                        <li class=""><a href="#fourth-section">4. Berufspraktikum (5. Jahr) </a></li>
                        <li class=""><a href="#fifth-section">5. Rechtliche Grundlagen</a></li>
                    </ul>
                </div>
                <div class="col-md-9 text-left col-xs-12">
                    <div class="custom_section">
                       <h2 class="text-uppercase">Fachakademie für Sozialpädagogik (FAKS)</h2>
                        <h3 id="first-section" class="text-uppercase">1. Erzieher/In werden</h3>
                        <p class="text-justify">Der Ausbildungsweg erstreckt sich in der Regel über fünf Jahre (Vollzeit). Aufgabe der Erzieherin/ des Erziehers ist die Erziehung, Bildung und Betreuung von Kindern, Jugendlichen und jungen Erwachsenen von 0-27 Jahren. Die Ausbildung endet bei erfolgreichem Durchlaufen mit der Anerkennung „zur staatlich anerkannten Erzieherin/ zum staatlich anerkannten Erzieher“.</p>
                        <h5>Ausbildungsverlauf</h5>
                        <p>1 + 2 Jahr: Sozialpädagogisches Seminar (1 + 2)
                            <br> Abschluss: „Staatlich geprüfte Kinderpflegerin/ staatlich geprüfter Kinderpfleger“
                            <br> 3 + 4 Jahr: Studienjahre an der Fachakademie für Sozialpädagogik (1 + 2)
                            <br> 5 Jahr: Berufspraktikum
                            <br> Abschluss: „Staatlich anerkannte Erzieherin/ staatlich anerkannter Erzieher“</p> <small>Die Ausbildung „zur staatlich anerkannten Erzieherin/ zum staatlich anerkannten Erzieher“ ist im Deutschen Qualifikationsrahmen (DQR)  der Niveaustufe 6 zugeteilt, was den hohen Ansprüchen an dieses Berufsbild weitgehend gerecht wird.</small>
                        <h5>Hinweis zur Fachhochschulreife</h5>
                        <p>An der Fachakademie haben sie zusätzlich die Möglichkeit die Fachhochschulreife zu erwerben. Dies ermöglicht ihnen später ein weiterführendes, fachgebundenes Studium an einer Hochschule, z.B. Soziale Arbeit oder Kindheitspädagogik. </p>
<!--
                        <h5>Arbeitsfelder des Erziehers</h5>
                        <ul>
                            <li>Kindertageseinrichtungen (Krippen, Kindergärten, Horte, Häuser für Kinder,…)</li>
                            <li>Schulische Ganztagsangebote (außerschulischer Bereich)</li>
                            <li>Maßnahmen der Hilfen zur Erziehung und der Eingliederungshilfe (Heime für Kinder, Jugendliche, junge Erwachsene, Heilpädagogische Einrichtungen, Tagesgruppen,…)</li>
                            <li>Offene Kinder- und Jugendarbeit</li>
                        </ul>
-->
                    </div>
                    <hr class="custom_nav-divider">
                    <div class="custom_section col-sm-12">
                        <h3 id="second-section" class="text-uppercase">2. Sozialpädagogisches Seminar (SPS 1 + 2)</h3>
                        <h5>Sozialpädagogische Erstausbildung und Ziel</h5>
                        <p class="text-justify">Das Sozialpädagogische Seminar erstreckt sich über den Zeitraum von zwei Jahren (Vollzeit) und ist ein beruflicher Vorbildungsweg für die Erzieherausbildung. Es soll zur Mitarbeit in verschiedenen Arbeitsfeldern befähigen, insbesondere bei der Betreuung, Bildung und Erziehung von Kindern im vorschulischen Alter oder frühen Schulalter. </p>
                        <h5>Voraussetzungen</h5>
                        <ul>
                            <li>Mittlere Reife</li>
                            <li>Ärztliche Bescheinigung über Berufseignung</li>
                            <li>Sechs Monate Probezeit</li>
                        </ul>
                        <h5>Ablauf SPS 1 + 2</h5>
                        <p>Die Schüler sind in der Regel einen Tag in der Woche an der Fachakademie für Sozialpädagogik und vier Tage an ihrer Praxisstelle (z.B. Krippe, Kindergarten, Hort, Schulvorbereitende Einrichtung, Nachmittagsbetreuung an Schulen …), die in den beiden Jahren mindestens einmal gewechselt werden muss. Zwei bis dreimal pro Schuljahr finden sogenannte „Blockveranstaltungen“ statt. Diese dauern meist eine Woche und können auch an außerschulischen Veranstaltungsorten stattfinden (z.B. „Hütten“, Jugendherbergen, „Erdhöhlen“ etc.). </p>
                        <h5>Unterrichtsfächer</h5>
                        <p>An den Seminartagen/-veranstaltungen erfolgt der Unterricht in folgenden Fächern:</p>
                        <ul>
                            <li>Pädagogik und Psychologie</li>
                            <li>Deutsch und Kommunikation</li>
                            <li>Englisch</li>
                            <li>Recht und Verwaltung</li>
                            <li>Musische Gestaltung und Bewegungserziehung</li>
                            <li>Naturwissenschaft und Gesundheit</li>
                            <li>Religionspädagogik und ethische Erziehung</li>
                            <li>Praxis- und Methodenlehre</li>
                        </ul>
                        <h5>Prüfung</h5>
                        <p>Am Ende des zweiten Schuljahres findet eine verbindliche Abschlussprüfung (schriftlich/ mündlich) statt. Diese ist in allen Pflichtfächern abzulegen. Bei erfolgreichem Bestehen berechtigt diese zur Führung der Berufsbezeichnung „Staatlich geprüfte Kinderpflegerin/ staatlich geprüfter Kinderpfleger“. Diese wiederum ist u.a. Voraussetzung für die Aufnahme in das erste Studienjahr an der Fachakademie für Sozialpädagogik.</p>
                    </div>
                    <hr class="custom_nav-divider">
                    <div class="custom_section col-sm-12">
                        <h3 id="third-section" class="text-uppercase">3. Fachakademie für Sozialpädagogik  (1. + 2. Studienjahr)</h3>
                        <h5>Rechtliche Rahmenbedingungen</h5>
                        <p class="text-justify">Die Ausbildung zur/zum staatlich anerkannten ErzieherIn erstreckt sich über den Zeitraum von drei Jahren (Vollzeit) und ist eine berufliche Weiterbildung. Erzieher nehmen Bildungs-, Erziehungs- und Betreuungsaufgaben für Kinder, Jugendliche und junge Erwachsene im Alter von 0-27 Jahre in den verschiedenen Arbeitsfeldern selbstständig und eigenverantwortlich wahr. Sie arbeiten familienergänzend, - unterstützend oder -ersetzend (vgl. SGB VIII, § 7).</p>
                        <h5>Voraussetzungen</h5>
                        <p>Die Ausbildung zur Erzieherin/ zum Erzieher setzt somit u.a. voraus, dass sie entweder
                            <br>a) das „Sozialpädagogische Seminar“
                            <br> oder
                            <br>b) die Ausbildung zur Kinderpfleger/in
                            <br>erfolgreich durchlaufen haben. </p>
                        <h5>Berufsbild</h5>
                        <p>ErzieherInnen nehmen Bildungs-, Erziehungs- und Betreuungsaufgaben für Kinder, Jugendliche und junge Erwachsene im Alter von 0-27 Jahre in den verschiedenen Arbeitsfeldern selbstständig wahr. Sie arbeiten familienergänzend, - unterstützend oder -ersetzend (vgl. SGB VIII, § 7).</p>
                        <h5>Arbeitsfelder</h5>
                        <ul>
                            <li>Kindertageseinrichtungen (Krippen, Kindergärten, Horte, Häuser für Kinder,…)</li>
                            <li>Schulische Ganztagsangebote (außerschulischer Bereich)</li>
                            <li>Maßnahmen der Hilfen zur Erziehung und der Eingliederungshilfe (Heime für Kinder, Jugendliche, junge Erwachsene, Heilpädagogische Einrichtungen, Tagesgruppen,…)</li>
                            <li>Offene Kinder- und Jugendarbeit</li>
                        </ul>
                        <h5>Ziel</h5>
                        <p>„Oberstes Bildungs- und Erziehungsziel ist der eigenverantwortliche, beziehungsfähige, wertorientierte, weltoffene und schöpferische Mensch. Er ist fähig und bereit, in Familie, Staat und Gesellschaft Verantwortung zu übernehmen und offen für religiöse und weltanschauliche Fragen.“ Die Ausbildung zur/zum staatlich anerkannten Erzieher bereitet darüber hinaus auf die selbstständige und eigenverantwortliche Arbeit in den sozialpädagogischen Arbeitsfeldern vor. Sie qualifiziert für die pädagogische Arbeit mit Menschen mit besonderen Bedürfnissen. (LP, S. 6)</p>
                        <h5>Ablauf</h5>
                        <p>Die theoretische Ausbildung an der Fachakademie findet in Vollzeit statt. In die beiden Studienjahre sind Blockpraktika integriert.</p>
                        <h5>Lernfelder</h5>
                        <p>Der Unterricht an der Fachakademie erfolgt lernfeldbezogen. Folgende Lernfelder werden im Rahmen der beiden Studienjahre behandelt:
                            <br> LF1: Berufliche Identität und professionelle Perspektiven weiterentwickeln
                            <br>LF2: Pädagogische Beziehungen gestalten und mit Gruppen pädagogisch arbeiten
                            <br>LF3: Lebenswelten und Diversitäten wahrnehmen, verstehen und Inklusion fördern
                            <br>LF4: Sozialpädagogische Bildungsarbeit in den Bildungsbereichen professionell gestalten
                            <br>LF5: Erziehungs- und Bildungspartnerschaften mit Eltern und Bezugspersonen gestalten sowie Übergänge unterstützen
                            <br>LF6: Institution und Team entwickeln sowie in Netzwerken kooperieren Vertiefungsgebiete (z.B. Kindheit; Jugend; junge Erwachsene)</p>
                        <h5>Unterrichtsfächer (2880 Gesamtstunden)</h5>
                        <p>In den beiden Studienjahren erfolgt der Unterricht in folgenden Fächern:</p>
                        <ul>
                            <li>Pädagogik/ Psychologie/ Heilpädagogik</li>
                            <li>Sozialkunde/ Soziologie</li>
                            <li>Mathematisch-naturwissenschaftliche Erziehung</li>
                            <li>Ökologie/ Gesundheitspädagogik</li>
                            <li>Recht und Organisation</li>
                            <li>Literatur- und Medienpädagogik</li>
                            <li>Englisch</li>
                            <li>Deutsch</li>
                            <li>Theologie/ Religionspädagogik nach Konfession/Ethik</li>
                            <li>Praxis- und Methodenlehre mit Gesprächsführung</li>
                            <li>Kunst- und Werkpädagogik</li>
                            <li>Musik- und Bewegungspädagogik</li>
                            <li>Übungen</li>
                            <li>Sozialpädagogische Praxis</li>
                            <li>zzgl. Wahl(-pflicht)fächer (z.B. Qualitätsmanagement in sozialen Einrichtungen, Erlebnispädagogik, Transitionen der frühen Kindheit, Kultursensitive Pädagogik, Umweltpädagogik, Instrumentalunterricht, Forschungslabor, „Welterleben“ etc.)</li>
                            <li>Zusatzfächer (bei Erwerb der gebundenen Fachhochschulreife)</li>
                        </ul>
                        <h5>Prüfung</h5>
                        <p>Am Ende des vierten Jahres erfolgt eine verbindliche Abschlussprüfung (schriftlich/ mündlich). Diese ist in allen Pflichtfächern abzulegen. Sie berechtigt jedoch noch nicht zur Führung der Berufsbezeichnung „Staatlich anerkannte/r ErzieherIn“. Diese Berechtigung wird bei erfolgreichem Durchlaufen des Berufspraktikums erworben.</p>
                    </div>
                    <hr class="custom_nav-divider">
                    <div class="custom_section col-sm-12">
                        <h3 id="fourth-section" class="text-uppercase">4. Berufspraktikum (5. Jahr)</h3>
                        <p class="text-justify">Das Berufspraktikum, auch als „Anerkennungsjahr“ bezeichnet, dient im Anschluss an die bestandene Abschlussprüfung der fachgerechten Einarbeitung in die Berufspraxis (FakOSozPäd § 40).</p>
                        <h5>Ziel</h5>
                        <p>„Der Berufspraktikant soll befähigt werden</p>
                        <ul>
                            <li>seine theoretischen Kenntnisse selbstverantwortlich in der Praxis anzuwenden und zu erweitern</li>
                            <li>Konzeptionen zu erfassen, Erziehungsarbeit zu planen und in die Erziehungspraxis umzusetzen</li>
                            <li>eine Gruppe sowohl selbstständig als auch in Zusammenarbeit mit einer Hilfskraft zu führen</li>
                            <li>konstruktiv im Team zu arbeiten</li>
                            <li>die Zusammen mit den Eltern“ (FakOSozPäd, Anlage 2)</li>
                        </ul>
                        <h5>Ablauf</h5>
                        <p>Das Berufspraktikum findet überwiegend in der Praxis statt. An einigen Tagen sind sie an der Fachakademie zu den Seminartagen/-veranstaltungen. Im Laufe des Jahres ist u.a. eine Facharbeit anzufertigen, sowie am Ende des Jahres eine praktische Prüfung und ein Kolloquium abzulegen (FakOSozPäd § 41).</p>
                        <h5>Abschluss</h5>
                        <p>Bei erfolgreichem Durchlaufen des Berufspraktikums erhalten Sie die Anerkennungsurkunde, die Sie zur Führung der Berufsbezeichnung „Staatlich anerkannte/r ErzieherIn“ berechtigt.</p>
                    </div>
                    <hr class="custom_nav-divider">
                    <div class="custom_section col-sm-12">
                        <h3 id="fifth-section" class="text-uppercase">5. Rechtliche Grundlagen</h3>
                        <h5>Bayerisches Staatsministerium für Unterricht und Kultus</h5>
                        <p>Lehrplan für das Sozialpädagogische Seminar
                            <br> Ausbildungsrahmenplan 1. + 2. Jahr, i.d.d.g.F.
                            <br>Lehrplan für die Fachakademie für Sozialpädagogik auf Grundlage des länderübergreifenden Lehrplans, landesspezifisch angepasst, 1. + 2. Studienjahr, i.d.d.g.F. Juli 2013 (Stand: 01.01.2017)
                            <br>Schulordnung für die Fachakademien für Sozialpädagogik (FakOSozPäd) i.d.d.g.F.
                            <br>Bayerisches Erziehungs- und Unterrichtsgesetz (BayEUG) i.d.d.g.F. </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End container -->
        <!-- Start Call-to-action-section -->
        <div class="container-fluid container-fluid-custom">
            <div class="container">
                <div class="col-sm-12 text-center" style="padding:35px 0;">
                    <h4>„Zeit für eine neue Generation - Zeit für eine neue Definition menschlicher Eliten…!“</h4>
                </div>
            </div>
        </div>
    </section>
    <div id="footer"></div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $("#header").load("/view/header.html");
            $("#footer").load("/view/footer.html");
        });
    </script>
</body>

</html>
