<!DOCTYPE html>
<html lang="en">

<body>
    <footer class="footer">
        <div class="container">
            <div class="col-md-8 col-sm-">
                <ul class="nav navbar-nav-footer navbar-custom-footer">
                   <li>© 2017 | Fachakademie für Sozialpädagogik & Berufsfachschule für Kinderpflege der vhs im Landkreis Cham e.V.</li>
                   <hr>
                    <li><a href="/view/impressum.html">Impressum</a></li>
                    <li><a href="/view/kontakt.html">Kontakt</a></li>
                    <li><a href="/view/faq.html">FAQ</a></li>
<!--                    <li><a href="/view/faq.html">News</a></li>-->
                    <br>
                </ul>
            </div>
            <div class="col-md-4 hidden-xs text-right">
                <a><img src="/img/vhs.png" width="150px"></a>
            </div>
        </div>
    </footer>
</body>
</html>
