<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Paedagon | Fortbildung</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/fortbildung.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="header"></div>
    <section class="main-content">
        <div class="container">
            <div class="jumbotron jumbotron-custom hidden-sm hidden-xs"> </div>
            <div class="jumbotron jumbotron-custom-sm hidden-md hidden-lg"> </div>
            <div class="row">
                <div class="col-md-3 text-left hidden-xs">
                    <ul class="nav">
                        <li class=""><a href="#first-section">1. Zusatzqualifikation/ Weiterbildung</a></li>
                        <li class=""><a href="#second-section">2. Fortbildung/ Workshops</a></li>
                        <li class=""><a href="#third-section">3. Fachvorträge/-tagungen</a></li>
                        <li class=""><a href="#fourth-section">4. Elternschule/-trainings</a></li>
                    </ul>
                </div>
                <div class="col-md-9 text-left col-xs-12">
                    <div class="custom_section col-sm-12">
                        <h2 class="text-uppercase">Fortbildung (IPF)</h2>
                        <h3 class="text-uppercase">Institut für pädagogische Fortbildung der vhs (in Vorbereitung)</h3>
                        <p class="text-justify">Pädagogen stehen heute vor vielfältigen und stets neuen Herausforderungen, die es auf verschiedenen Ebenen zu bewältigen gibt. Kaum ein anderer Bereich hat in den vergangenen Jahren so sehr an Dynamik gewonnen. Denken wir nur an den rasanten Ausbau der Kinderkrippen in Deutschland oder an die vielen minderjährigen Flüchtlinge, die in den letzten Jahren zu uns kamen. In unserem neuen Fortbildungsinstitut möchten wir ein regionales, innovatives und hochqualitatives Angebot für Pädagogen, Eltern und andere Interessierte bereitstellen. Gerne nehmen wir auch Ihre Themenwünsche entgegen (siehe Kontakt)! Das Programm für das Jahr 2017/18 wird derzeit erstellt. </p>
                    </div>
                    <hr class="custom_nav-divider">
                    <div class="custom_section col-sm-12">
                        <h3 id="first-section" class="text-uppercase">1. Zusatzqualifikation/ Weiterbildung</h3>
                        <h5>Vorankündigung 2017/18</h5>
                        <!--
                        <h5>Vorankündigung 2017/18</h5>
                        <p>An der Fachakademie haben sie zusätzlich die Möglichkeit die Fachhochschulreife zu erwerben. Dies ermöglicht ihnen später ein weiterführendes, fachgebundenes Studium an einer Hochschule, z.B. Soziale Arbeit oder Kindheitspädagogik. </p>
                        <h5>Arbeitsfelder des Erziehers</h5>
-->
                        <ul>
                            <li>In Kooperation mit dem Peter-Hess-Institut </li>
                        </ul>
                    </div>
                    <hr class="custom_nav-divider">
                    <div class="custom_section col-sm-12">
                        <h3 id="second-section" class="text-uppercase">2. Fortbildung/ Workshops</h3>
                        <h5>Vorankündigung 2017/18</h5>
                        <ul>
                            <li>Unternehmen Kindergroßtagespflegestelle/Kindertagesstätte - Einführungsseminar zur erfolgreichen Gründung einer GTP/Kindertagesstätte</li>
                        </ul>
                        <h5>Mathematik Frühförderung </h5>
                        <ul>
                            <li>1000 und eine Idee...., mathematische Vorläuferfähigkeiten fördern im Baby- und Kleinkindalter</li>
                        </ul>
                        <h5>Frühförderung der Resilienz – Stressprävention </h5>
                        <ul>
                            <li>Komm mit auf die Trauminsel – Phantasiereisen, Massagen & Co.</li>
                        </ul>
                        <h5>Musikalische & rhythmische Früherziehung</h5>
                        <ul>
                            <li>Musik und Spiel - Hören - Singen - Bewegen - Klingen</li>
                        </ul>
                        <h5>Erfolgreiche Kommunikation</h5>
                        <ul>
                            <li>Workshops Kommunikation</li>
                        </ul>
                        <h5>Percussion & Musik</h5>
                        <ul>
                            <li>Percussion und Bewegung für Kinder und Jugendliche von 3 - 15 Jahren</li>
                            <li>Percussion und Bewegung für Jugendliche/ junge Erwachsene mit besonderen Bedürfnissen (Behinderung)</li>
                            <li>Percussion für Jugendliche mit hohen Aggressionspotenzial</li>
                            <li>Crashkurs für Percussion aller Art</li>
                            <li>Bodypercussion</li>
                            <li>Wie bringe ich die Menschen zum Singen?</li>
                            <li>Crashkurs für Gitarre</li>
                            <li>Wie leite ich einen Chor?</li>
                        </ul>
                    </div>
                    <hr class="custom_nav-divider">
                    <div class="custom_section col-sm-12">
                        <h3 id="third-section" class="text-uppercase">3. Fachvorträge/-tagungen</h3>
                        <h5>Vorankündigung 2017/18</h5>
                        <p class="text-justify">Karrieremöglichkeiten für Erzieher - gute Erzieher kommen in den Himmel und böse überall hin!</p>
                    </div>
                    <hr class="custom_nav-divider">
                    <div class="custom_section col-sm-12">
                        <h3 id="fourth-section" class="text-uppercase">4. Elternschule/-trainings</h3>
                        <h5>Vorankündigung 2017/18</h5>
                        <h5>Motorische Entwicklung </h5>
                        <ul>
                            <li>Mit riesen Schritten ins Leben ... motorische Entwicklung – was sollte mein Kind wann können?</li>
                        </ul>
                        <h5>Persönlichkeitsentwicklung </h5>
                        <ul>
                            <li>Schnulleralarm – “Ich kann das alleine....”, die Ich-Findungsphase bei Kindern</li>
                            <li>Ich bin ich... Auswirkungen auf das Bindungsverhalten bei Kindern mit U3-Betreuung</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End container -->
        <!-- Start Call-to-action-section -->
        <div class="container-fluid container-fluid-custom">
            <div class="container">
                <div class="col-sm-12 text-center" style="padding:35px 0;">
                    <h4>„Für alle, die viel mehr wollen, als nur Leidenschaft …!“</h4> </div>
            </div>
        </div>
    </section>
    <div id="footer"></div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $("#header").load("/view/header.html");
            $("#footer").load("/view/footer.html");
        });
    </script>
</body>

</html>
