<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Paedagon | Fortbildung</title>
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="header"></div>
    <section class="main-content">
        <div class="container">
            <div class="jumbotron jumbotron-custom"> </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-left">
                    <div class="col-sm-12">
                        <h3 class="text-uppercase">Fortbildung (IPF)</h3>
                        <h5>Institut für pädagogische Fortbildung der vhs (in Vorbereitung)</h5>
                        <p class="text-justify">Pädagogen stehen heute vor vielfältigen und stets neuen Herausforderungen, die es auf verschiedenen Ebenen zu bewältigen gibt. Kaum ein anderer Bereich hat in den vergangenen Jahren so sehr an Dynamik gewonnen. Denken wir nur an den rasanten Ausbau der Kinderkrippen in Deutschland oder an die vielen minderjährigen Flüchtlinge, die in den letzten Jahren zu uns kamen. In unserem neuen Fortbildungsinstitut möchten wir ein regionales, innovatives und hochqualitatives Angebot für Pädagogen, Eltern und andere Interessierte bereitstellen. Gerne nehmen wir auch Ihre Themenwünsche entgegen (siehe Kontakt)! Das Programm für das Jahr 2017/18 wird derzeit erstellt. </p>
                    </div>
                    <div class="col-sm-12" style="margin-top:20px;">
                        <div class="col-sm-4">
                            <h4>1.	Zusatzqualifikation/<br> Weiterbildung</h4> </div>
                        <div class="col-sm-8">
                            <p><strong>Vorankündigung 2017/18</strong>
                                <br>• In Kooperation mit dem Peter-Hess-Institut </p>
                        </div>
                        <!-- Anschrift des Trägers -->
                        <hr> </div>
                    <div class="col-sm-12" style="margin-top:20px;">
                        <div class="col-sm-4">
                            <h4>2. Fortbildung/ <br>Workshops</h4> </div>
                        <div class="col-sm-8">
                            <p><strong>Vorankündigung 2017/18</strong>
                                <br>• Unternehmen GTPS/Kindertagesstätte - Einführungsseminar zur erfolgreichen Gründung einer GTPS/Kindertagesstätte
                                <br> • 1000 und eine Idee...., mathematische Vorläuferfähigkeiten fördern im Baby- und Kleinkindalter
                                <br>• Komm mit auf die Trauminsel – Phantasiereisen, Massagen & Co. </p>
                        </div>
                        <!-- Anschrift des Trägers -->
                        <hr> </div>
                    <div class="col-sm-12" style="margin-top:20px;">
                        <div class="col-sm-4">
                            <h4>3. Elternschule/<br>Trainings</h4> </div>
                        <div class="col-sm-8">
                            <p><strong>Vorankündigung 2017/18</strong>
                                <br>• Komm mit auf die Trauminsel – Phantasiereisen, Massagen & Co.
                                <br>• Mit riesen Schritten ins Leben ... motorische Entwicklung – was sollte mein Kind wann können?
                                <br>• Schnulleralarm – “Ich kann das alleine....”, die Ich-Findungsphase bei Kindern
                                <br>• Ich bin ich... Auswirkungen auf das Bindungsverhalten bei Kindern mit U3-Betreuung</p>
                        </div>
                        <!-- Anschrift des Trägers -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="footer"></div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $("#header").load("/view/header.html");
            $("#footer").load("/view/footer.html");
        });
    </script>
</body>

</html>
