<header class="header">
    <div class="container">
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="brand" href="/index.html"><img src="/img/logo.png" alt="Paedagon" height="50"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right navbar-custom">
                        <li class="text-uppercase navli-custom"><a href="/index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                        <li class="text-uppercase navli-custom dropdown"> <a id="dLabel" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Über uns<span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                <li><a href="/view/about.html">Schulträger</a></li>
                                <li><a href="/view/about_2.html">Leitung & Lehrer</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/view/schule.html">Schule</a></li>
                            </ul>
                        </li>
                        <li class="text-uppercase navli-custom"><a href="/view/erzieher.html">Erzieher FAKS</a></li>
                        <li class="text-uppercase navli-custom"><a href="/view/kinderpflege.html">Kinderpflege BFS</a></li>
                        <li class="text-uppercase navli-custom"><a class="" href="/view/fortbildung.html">Fortbildung IPF</a></li>
                        <li class="text-uppercase navli-custom"><a class="" href="/view/netzwerk.html">Netzwerk</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
        <hr class="custom_nav-divider"> </div>
</header>
