<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Paedagon | Kontakt</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .col-custom-margin {
            margin: 25px 0;
        }
    </style>
</head>

<body>
    <div id="header"></div>
    <section class="main-content">
        <div class="container">
            <div id="map" class="jumbotron map" style="height:381px;"></div>
            <div class="row">
                <div class="col-md-3 text-left hidden-xs">
                    <ul class="nav">
                        <li class=""><a href="#first-section">Kontakt</a></li>
                        <li class=""><a href="#second-section">1. Bewerbung</a></li>
                        <li class=""><a href="#third-section">2. Schüler-/Elterninfo €</a></li>
                        <li class=""><a href="#fourth-section">3. Praxis-/Trägerinfo §</a></li>
                    </ul>
                </div>
                <div class="col-md-9 text-left col-xs-12">
                    <div class="custom_section col-sm-12">
                    <h3 id="first-section" class="text-uppercase">Kontakt</h3>
                    <p>Sie haben Interesse daran, eine Ausbildung an unserer Fachakademie für Sozialpädagogik oder unserer Berufsfachschule für Kinderpflege zu absolvieren und haben Fragen dazu? Wir sind gerne für Sie da! Schreiben Sie uns eine e-mail oder rufen Sie uns einfach an!</p>
                    <div class="col-md-6 col-custom-margin"> <img class="img-circle img-responsive custom-photo" src="/img/teacher/tgrotz.jpg" />
                        <p><strong>Schulleitung: </strong>Dr. Tanja M. Grotz</p>
                        <p><strong>E-mail: </strong><a href="mailto:schulleitung@paedagon.de">schulleitung@paedagon.de</a></p>
                    </div>
                    <div class="col-md-6 col-custom-margin"> <img class="img-circle img-responsive custom-photo" src="/img/teacher/hkorherr.jpg" />
                        <p><strong>Schulverwaltung: </strong>Hans Korherr</p>
                        <p><strong>E-mail: </strong><a href="mailto:schulverwaltung@paedagon.de">schulverwaltung@paedagon.de</a></p>
                    </div>
                    <hr>
                    <div class="col-md-6">
                        <h5>Schulen</h5> <address>
                        <strong>Telefon: </strong>09973 – 802976<br>
                        <strong>Fax: </strong>09973 - 802991<br>
                        <strong>Internet: </strong><a href="http://paedagon.de">http://paedagon.de</a><br>
                        </address> </div>
                    <div class="col-md-6">
                        <h5>Anschrift der Schulen</h5> <address>
                        Fachakademie für Sozialpädagogik & Berufsfachschule für Kinderpflege<br>
                        Rosenstraße 6<br>
                        93437 Furth im Wald<br>
                        </address> </div>
                    </div>
                    <hr class="custom_nav-divider">
                    <div class="custom_section col-sm-12">
                        <h4 id="second-section" class="text-uppercase">1. Bewerbung</h4>
                        <p class="text-justify">Sie haben sich entschieden und möchten gerne eine Ausbildung zur Erzieherin/ zum Erzieher oder zur Kinderpflegerin/ zum Kinderpfleger absolvieren? Dann bewerben Sie sich! Bewerbungen an der Fachakademie für Sozialpädagogik sowie an der Berufsfachschule für Kinderpflege sind jederzeit (auch bereits für die Folgejahre) möglich.</p>
                        <h5>Inhalt</h5>
                        <ul>
                            <li>Motivationsschreiben</li>
                            <li>Lichtbild</li>
                            <li>Lebenslauf</li>
                            <li>Kopie des letzten Zeugnisses</li>
                            <li>Nachweis über sozialpädagogische Praktika/ ggf. Ehrenamt</li>
                        </ul>
                    </div>
                    <hr class="custom_nav-divider">
                    <div class="custom_section col-sm-12">
                        <h4 id="third-section" class="text-uppercase">2. Schüler-/Elterninfo €</h4>
                        <h5>Wichtige Information für Studierende/ Schüler und Eltern</h5>
                        <h5>Finanzielles</h5>
                        <ul>
                            <li>Schulgeld wird nicht erhoben</li>
                            <li>Für die gesamte Zeit der Ausbildung kann unter Vorliegen der Voraussetzungen BAföG in Anspruch genommen werden. Die Höhe des Förderungsbeitrages richtet sich nach den persönlichen Verhältnissen und dem Einkommen der Eltern. Anträge werden an das zuständige Landratsamt gestellt.</li>
                            <li>Ausbildungskosten (der Kinder, …) können unter Vorliegen der Voraussetzungen steuerlich geltend gemacht werden. Bitte erkundigen sie sich bei ihrem zuständigen Finanzamt.</li>
                            <li>Unseren Studierenden und Schülern bieten wir folgenden kostenlosen Service: WLAN, EDV-Stationen mit Internet, Online-Lernplattform (Chatroom/ Download von Unterrichtsmaterialien/ Skripten)</li>
                            <li>Kostenlose Nutzung der Fachbibliothek</li>
                            <li>Eine jährliche Kopier- und Lehrmittelpauschale, sowie Kosten für Studienfahrten sind einzuplanen</li>
                            <li>Bücher, welche beim Schüler verbleiben, müssen selbst bezahlt werden </li>
                        </ul>
                        <h5>Wohnmöglichkeiten für Studierende/ Schüler in Furth im Wald</h5>
                        <p class="text-justify">Sie benötigen eine Wohnmöglichkeit in Furth im Wald während Ihrer Ausbildung? Kein Problem. Es stehen Zimmer in Gastfamilien und Zimmer in Privathaushalten kostengünstig zur Verfügung. Sprechen Sie uns an, wir helfen Ihnen gerne weiter. Wir weisen jedoch ausdrücklich darauf hin, dass wir nur die Kontakte vermitteln. Die Schule übernimmt für die Zeit und Form der Unterbringung (und evtl. entstandene Schäden) keinerlei Haftung und Kosten.</p>
                    </div>
                    <hr class="custom_nav-divider">
                    <div class="custom_section col-sm-12">
                        <h4 id="fourth-section" class="text-uppercase">3. Praxis-/Trägerinfo §</h4>
                        <p class="text-justify">Hier finden Einrichtungsträger, Leitungen und Anleitungen wichtige links zum Thema Recht, Lehrpläne/Ausbildungsrahmenpläne usw. . Für Rückfragen stehen wir natürlich jederzeit gerne zur Verfügung.</p>
                        <ul>
                            <li>Lehrplan für das Sozialpädagogische Seminar, vgl.:
                                <br> <a href="http://www.isb.bayern.de/fachschule-fachakademie/lehrplan/fachakademie/lehrplan/sozialwesen/898/">http://www.isb.bayern.de/fachschule-fachakademie/lehrplan/fachakademie/lehrplan/sozialwesen/898/ </a> </li>
                            <li>Lehrplan für die Fachakademie für Sozialpädagogik, vgl.:
                                <br> <a href="http://www.isb.bayern.de/fachschule-fachakademie/lehrplan/fachakademie/lehrplan/1266/ ">http://www.isb.bayern.de/fachschule-fachakademie/lehrplan/fachakademie/lehrplan/1266/ </a> </li>
                            <li>Lehrplan für die Berufsfachschule für Kinderpflege, vgl.:
                                <br> <a href="https://www.isb.bayern.de/berufsfachschule/lehrplan/berufsfachschule/lehrplan-lehrplanrichtlinie/sozialwesen/569/">https://www.isb.bayern.de/berufsfachschule/lehrplan/berufsfachschule/lehrplan-lehrplanrichtlinie/sozialwesen/569/</a> </li>
                            <li>Verkündigungsplattform Bayern, vgl.:
                                <br> <a href="https://www.verkuendung-bayern.de/">https://www.verkuendung-bayern.de/</a> </li>
                        </ul>
                    </div>
                </div>
                <!-- end col-md-9 text-left col-xs-12 -->
            </div>
        </div>
    </section>
    <div id="footer"></div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $("#header").load("/view/header.html");
            $("#footer").load("/view/footer.html");
        });
    </script>
    <script>
        function initMap() {
            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: 49.307650
                    , lng: 12.845780
                }
                , scrollwheel: false
                , zoom: 16
            });
            var marker = new google.maps.Marker({
                position: myLatLng
                , map: map
                , title: 'Paedagon - Fachakademie für Sozialpädagogik & Berufsfachschule für Kinderpflege'
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr5bIZtkRrTuOPDpUFApW0yHkbp9hLtVg&callback=initMap">
    </script>
</body>

</html>
